<!-- google-maps-demo.component.html -->
<google-map
  height="100vh"
  width="100vw"
  [center]="center"
  [zoom]="zoom"
  (mapClick)="moveMap($event)"
  (mapMousemove)="move($event)"
>
  <map-marker
    *ngFor="let fullTrashPosition of fullTrashPosition"
    [position]="fullTrashPosition"
    [options]="markerOptions"
  ></map-marker>
</google-map>

<div>Latitude: {{ display?.lat }}</div>
<div>Longitude: {{ display?.lng }}</div>

<div *ngFor="let trash of myTrashs">
  <hr />
  <br />

  <p>ID : {{ trash.id }}</p>
  <p>Name : {{ trash.name }}</p>
  <p>Longitude: {{ trash.longitude }}</p>
  <p>Latitude : {{ trash.latitude }}</p>
</div>
